<h1>Flowers</h1>
<hr>
<br>
<% @flowers.each do |f| %>
    <p><a href="/flowers/<%=f.id%>"><%=p.name%></a></p>
    <% end %>

<br>
<a href="/flowers/new">Add a Flower</a>

# <h1><%=@user.name%></h1>
# <h3>Flowers:</h3>
# <ul>
# <%=@user.flowers.each do |s|%>
#     <li><%=@flower.name%></li>
#     <%end%>
# </ul>

